


<app-barra-superior></app-barra-superior>
<div class="content row">
      <div *ngFor="let grafico of listaDeGraficos" >
            <app-grafico [idGrafico]="grafico.titulo" 
                  [tipoGrafico]="grafico.tipo" 
                  [dadosGrafico]="grafico.dados" 
                  [labelsGrafico]="grafico.labels" 
                  [legendGrafico]="grafico.legenda">
            </app-grafico>
      </div>
</div>

<div class="footer">
      <p style="float: right;font-size: 12px;">Criado por Felipe Gabriel Pinheiro (2019).</p>
</div>



  
  


